@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "RadioButton List";
   
    var languageGroup = Request.Form["LanguageGroup"];
    var scriptGroup = Request.Form["ScriptGroup"];

}

@section banner{
    <h1>RadioButton List</h1>
}

@if (IsPost)
{
    //do none of this logic unless you are in a post back scenario

    //validate input
    if (string.IsNullOrEmpty(languageGroup) || string.IsNullOrEmpty(scriptGroup))
    {
        <p><span style="color:firebrick">Make a selection from both coding choices.</span></p>
        languageGroup = "";
        scriptGroup = "";
    }
    else
    {
        if (languageGroup.Equals("C#", StringComparison.OrdinalIgnoreCase))
        {
            <p>You will enjoy the CPSC1517 course. We use C#.</p>
        }
        else
        {
            <p>Too bad. Unfortunately the CPSC1517 course does not use @languageGroup.</p>
        }
        if (scriptGroup.Equals("Razor", StringComparison.OrdinalIgnoreCase))
        {
            <p>You will enjoy the CPSC1517 course. We use Razor.</p>
        }
        else
        {
            <p>Too bad. Unfortunately the CPSC1517 course does not use @scriptGroup.</p>
        }
    }

}
else
{
    //the else side is only done when the page is considered 1st time
    //this is an excellent place to put logic that needs to happen
    //      when the page is being generated for the first time
    languageGroup = "";
    scriptGroup = "";
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-sm-offset-1">
            <label id="LanguageGroupLabel" for="LanguageGroup">
                Select your favorite programming language
            </label><br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="C#"checked='@(languageGroup.Equals("C#")?true:false)' />C#<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="VB"checked='@(languageGroup.Equals("VB")?true:false)' />Visual Basic<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="Cobol"checked='@(languageGroup.Equals("Cobol")?true:false)' />Cobol<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="Fortran"checked='@(languageGroup.Equals("Fortran")?true:false)' />Fortran<br />

            <label id="ScriptGroupLabel" for="ScriptGroup">
                Select your favorite scripting code.
            </label><br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="JavaScript"checked='@(scriptGroup.Equals("JavaScript")?true:false)' />JavaScript<br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="Razor"checked='@(scriptGroup.Equals("Razor")?true:false)' />Razor<br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="PHP"checked='@(scriptGroup.Equals("PHP")?true:false)' />PHP<br />


        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1">
            <input type="submit" class="btn btn-primary" id="formButton" name="formButton" value="Submit" />
        </div>
    </div>
</form>